.yeartext{
    text-anchor:middle;
    font-size: 28 px;
    stroke-width: 0.1px;
    stroke: #e5e5e5;
}
.yearChart{
    stroke: #FFF;
}

.dots{
    stroke: #A0A0A0;
    stroke-dasharray: 2,2;
}
.highlighted{
    stroke: #404040;;
    stroke-width:4;
    resize: 4
}